* {
  box-sizing: border-box;
}

// Clearfix
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

// Wraper
.wraper {
  width: 100%;
  position: relative;
}

// Scroll style

.inner-scrollbar{
  overflow: auto;
  &::-webkit-scrollbar{
    width: 4px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #7F7F7F;
    border-radius: 6px;
  }
}